JelllyAdventure/Library/
JelllyAdventure/Temp/
JelllyAdventure/Obj/
JelllyAdventure/Builds/
JelllyAdventure/Build/
JelllyAdventure/MemoryCaptures/
JelllyAdventure/Logs/Packages-Update.log
JelllyAdventure/.vs/
JelllyAdventure/.gradle/
JelllyAdventure/ExportedObj/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.apk
*.unitypackage

sysinfo.txt

crashlytics-build.properties
JelllyAdventure/Assets/Resource/Demo/
JelllyAdventure/Assets/Resource/Updates/
